.image1 {
    position: absolute;
    left: 420px;
    top: 150px;
    z-index: 2
}

.image2 {
    position: absolute;
    left: 395px;
    top: 460px;
    z-index: 1
}

audio {
    position: absolute;
    left: 420px;
    top: 500px;
    z-index: 2
}